<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="footer mt-auto py-3">
        <div class="links">
            <p>LINKS</p>
        </div>
        <div class="footer group">


            <div class="termini">
                <a href="/termini-e-condizioni">Termini e Condizioni</a>
            </div>
            <div class="Privacy">
                <a href="/termini-e-condizioni">Privacy Policy</a>
            </div>
            <div class="cookie">
                <a href="/termini-e-condizioni">Cookie Policy</a>
            </div>
            <div class="Mappa">
                <a href="/termini-e-condizioni">Mappa del sito</a>
            </div>
            <div class="faq">
                <a href="/termini-e-condizioni">FAQ</a>
            </div>
            <div class="Contatti">
                <a href="/termini-e-condizioni">Contatti</a>
            </div>
        </div>
        <div class="Copyright__Footer">
            <p>&copy; Copyright Cosca Store</p>
        </div>
    </footer>
</div>