<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cosca Store</title>
</head>
<body>
<div layout:fragment="content" class="container" >

    <img class="flex" src="static/images/cosca-store.png" >
    <p>COSCA STORE è una azienda che opera nel commercio al dettaglio da 40 anni e negli ultimi 10 si è specializzata nella vendita online. Grazie alla nostra professionalità e affidabilità abbiamo raggiunto in pochi anni oltre 70000 clienti in tutto il mondo  .Siamo costantemente alla ricerca del prodotto migliore al prezzo migliore.Questo non significa avere sempre il prezzo più basso, ma la differenza siamo noi.Il NS punto vendita al dettaglio ti offre la sicurezza della nostra presenza giornaliera sempre al tuo servizio per una assistenza pre e post vendita. Per trovare la soluzione ai tuoi problemi. La soddisfazione del cliente è la nostra miglior gratificazione.</p>


    <style>
        .flex {max-width: 100%}
    </style>

</div>

</body>
</html>
