<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/data/jaxb"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cosca Store</title>
</head>
<body>
<div layout:fragment="content" class="container" >

  <!--  <p sec:authorize="isAuthenticated()">First Name : <span sec:authorize="isAuthenticated()" th:text="${utenti.nome}"></span></p>

   <p sec:authorize="isAuthenticated()">First Name : <span sec:authorize="isAuthenticated()" th:text="${utenti.nome}"></span></p>
    <p sec:authorize="isAuthenticated()">First Name : <span sec:authorize="isAuthenticated()" th:text="${user.nome}"></span></p>  -->



    <section class="cover">
        <div class="cover__filter"></div>
        <div class="cover__caption">
            <div class="cover__caption__copy">
                <h1 class="h1text">Lo Store Ufficiale</h1>
                <a th:href="@{/list}"><img class="flex" src="static/images/cosca-store.png" ></a>


            </div>
        </div>
    </section>

    <style>
        .flex {max-width: 100%}
        .h1text{text-align: center}
    </style>



</div>

</body>
</html>
