<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th=“http://www.thymeleaf.org”
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cosca Store</title>
</head>
<body>
<div layout:fragment="content" class="container" >

    <table>
        <tr>

            <th>nome</th>
            <th>descrzione</th>
            <th>quantità</th>
            <th>prezzo</th>
            <th>image</th>



        </tr>
        </tr>
      <!--  <tr th:each="prodotto: ${prodotti}">

            <td th:text="${prodotto.nome}"></td>
            <td th:text="${prodotto.descrizione}"></td>
            <td th:text="${prodotto.quantita}"></td>
            <td th:text="${prodotto.prezzoP}"></td>
            <img th:src="@{'product/image/' + @{prodotto.image}}">

            <button type="button" class="btn btn-primary" th:text="Buy">Buy</button>

        </tr> -->
        <tr th:each="prodotto: ${prodotti}">

            <td th:text="${prodotto.nome}"></td>
            <td th:text="${prodotto.descrizione}"></td>
            <td th:text="${prodotto.quantita}"></td>
            <td th:text="${prodotto.prezzoP}"></td>
            <td><img th:src="${prodotto.image}" width="200"></td>

            <td><button type="button" class="btn btn-primary" th:text="Buy">Buy</button></td>


    </table>

</div>

</body>
</html>
