<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
       xmlns:th=“http://www.thymeleaf.org”
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cosca Store</title>
</head>
<body>
<div layout:fragment="content" class="container" >

    <table>

        </tr>
      <!--  <tr th:each="prodotto: ${prodotti}">

            <td th:text="${prodotto.nome}"></td>
            <td th:text="${prodotto.descrizione}"></td>
            <td th:text="${prodotto.quantita}"></td>
            <td th:text="${prodotto.prezzoP}"></td>
            <img th:src="@{'product/image/' + @{prodotto.image}}">

            <button type="button" class="btn btn-primary" th:text="Buy">Buy</button>

        </tr> -->
        <tr th:each="prodotto: ${prodotti}">
            <td><img th:src="${prodotto.image}" width="200"></td>
            <td th:text="${prodotto.nome}"></td>
           <!-- <td th:text="${prodotto.descrizione}"></td>  -->



            <td><div th:inline="text" class="col-md-2">Nome: [[${prodotto.nome}]] </div></td>
            <td><div th:inline="text" class="col-md-2">Price: [[${prodotto.prezzoP}]] $</div></td>
            <td>  <div th:inline="text" class="col-md-9">In Stock: [[${prodotto.quantita}]]</div></td>
            <td><a th:href="@{'/shoppingCart/addProduct/{codice}'(codice=${prodotto.codice})}" class="col-md-1"
                   sec:authorize="isAuthenticated()" th:if="${prodotto.quantita}>0">
                    <button type="button" class="btn btn-primary" th:text="Buy">Buy</button>
                </a></td>





    </table>

</div>

</body>
</html>
